
@{
    ViewBag.Title = "Home";
}


<div class="container">
    <div>
        <input type='button' value='New Property' data-ng-click='newproperty()' />
    </div>
    <div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>

                <input type="text" class="form-control" placeholder="Search" ng-model="searchProperty">

            </div>
        </div>
    </form>
    </div>
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>
    @*<table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td data-ng-click="sort='upi'">Upi</td>   
                <td data-ng-click="sort='area'">Area</td>   
                <td data-ng-click="sort='manner_of_permanent_usage'">Manner of Permanent Usage</td>   
                <td >Picture</td>   
                <td></td>   
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat='property in propertymanagament | filter:searchProperty'>
                <td>{{ property.upi }}</td>
                <td>{{ property.area }}</td>
                <td>{{ property.manner_of_permanent_usage }}</td>
                <td>{{ property.picture_url }}</td>
                <td>
                    <button ng-hide="editingData[property.id]" ng-click="modify(property)">Modify</button>
                </td>
            </tr>
        </tbody>      
    </table>*@
@{
    ViewBag.Title = "New Property";
}

<br />
<br />
<br />

<div ng-show="show">
    <form id="updateCategoryForm" class="form-inline" >
        <div class="form-group">
            <label class="sr-only" id="upi" for="upiInput">UPI</label>
            <input type="text" class="form-control" id="upiInput" ng-model="property.upi" placeholder="{{property.upi}}">
        </div>
        <div class="form-group">
            <label class="sr-only" id="areaLbl" for="areaInput">Area</label>
            <input type="text" class="form-control" id="areaInput" ng-model="property.area" placeholder="{{ property.area }}">
        </div>
        <div class="form-group">
            <label class="sr-only" id="mannerOfUsageLbl" for="mannerOfUsageSelect">Type</label>
            <select id="mannerOfUsageSelect" ng-model="property.manner_of_permanent_usage" ng-options="c.Value as c.Text for c in mannerofpermanentusage" class="form-control"></select>
        </div>
        <button type="button" ng-click="update(property)">Submit</button>
    </form>

    <br />
    <br />
    <br />

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Mortgage</h3>
        </div>

        <div class="panel-body">

            <form id="addEditPFForm" class="form-inline">

                <div class="form-group">
                    <label class="sr-only" for="moneyInput">Money</label>
                    <input id="moneyInput" name="moneyInput" type='text' class="form-control" placeholder="Money" />
                </div>


                <div class="form-group">
                    <div class='input-group date' id='endDatePicker'>
                        <input id="endDate" name="endDateName" type='text' class="form-control" placeholder="End Date" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
